.column {
  width: 200px;
  height: 400px;
  background: cornflowerblue;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  & li {
    margin: 5px 10px;
    padding: 5px 10px;
    background: greenyellow;
  }
}