html, body {
	font-size: 14px;
}

.wrapper {
	display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6, BB7 */
	display: -ms-flexbox;  /* TWEENER - IE 10 */
	display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
	display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
	width: 100%;
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-ms-justify-content: space-around;
}

.icon {
	display: inline-block;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	background: red;
	background-size: 100%;
	vertical-align: middle;
	cursor: pointer;
	&:last-child {
		margin-right: 0;
	}
	&_flash {
		background: yellow url('/img/flash.svg');
	}
	&_sun {
		background: yellow url('/img/sun.svg');
	}
	&_flower {
		background: yellow url('/img/flower.svg');
	}
	&_heart {
		background: yellow url('/img/heart.svg');
	}
}

.filter {
	&__item {
		display: inline-block;
		margin-left: 1em;
	}
	&__input {
		display: none;
	}
}